body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

header {
    background-color: #1B263B;
    text-align: center;
    padding: 5px;
    color: white;
}

main {
    background-color: #92A6BF;
    padding: 5px;
}

.menu {
    position: fixed;
    right: 0px;
    z-index: 1;
    text-align: right;
    color: white;

}

nav a {
    color: inherit;
    text-decoration: inherit;
}

nav>ul {
    list-style: none;
    background-color: #92A6BF;
    border-radius: 3%;
    margin: 0%;
    padding: 1%;
}

nav a:hover {
    background-color: #415A77;
    color: white;
}

.first {
    background-color: whitesmoke;
    padding: 50px;
    margin: 60px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
}

/*
.first1 {
    background-color: whitesmoke;
    text-align: right;
    width: 50%;
    padding: 15px;
    margin: 20px;
    border-radius: 10px;
}
*/
.first2 {
    background-color: whitesmoke;
    position: absolute;
    top: 24%;
    left: 45%;
    width: 35%;
    padding: 5px;
    margin: 15px;
    border-radius: 10px;
}

.first3 {
    font-size: x-large;
    font-weight: bold;
    line-height: 50px;
    ;
}

.first4 {
    background-color: #778DA9;
    font-size: x-large;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px
}

.photo {
    width: 25%;
    border-radius: 20px;
}

.contact {
    width: 10%;
}

.second {
    background-color: whitesmoke;
    padding: 30px;
    margin: 60px;
    border-radius: 10px;
}

.skill {
    display: flex;
    justify-content: space-around;
}

.skillitems {
    font-weight: bold;
}

.text {
    color: white;
    text-align: right;
    padding: 2px;
}

.progress {
    width: 38%;
    height: 20%;
    border: 1px solid gray;
    border-radius: 10px;
    overflow: hidden;
}

.bar {
    width: 0;
    height: 25px;
    background-color: #415A77;
    border-radius: 10px;
    transition: width 0.3s ease;
}

.third {
    background-color: whitesmoke;
    padding: 30px;
    margin: 60px;
    border-radius: 10px;
    font-weight: bold;
}

.edu {
    display: flex;
    justify-content: space-around;
}

.photo1-1,
.photo1-2,
.photo1-3,
.photo1-4 {
    text-align: center;
}

.photo1 {
    width: 160px;
    height: 150px;
    border-radius: 10px;
}

.schoolname {
    font-size: x-large;
}

.forth {
    display: flex;
    justify-content: space-around;
}

.forth1 {
    background-color: whitesmoke;
    padding: 30px;
    margin: 60px;
    border-radius: 10px;
    width: 300%;
}

.forth2 {
    background-color: whitesmoke;
    padding: 30px;
    margin: 60px;
    border-radius: 10px;
    width: 300%;
}

.photo2 {
    width: 75%;
    border-radius: 10px;
}

.copyright {
    text-align: center;
}