header {
    background-color: #7F9EB2;
    text-align: center;
    padding: 5px;
}

main {
    background-color: #DAE9F4;
    padding: 5px;
}

.first {
    background-color: whitesmoke;
    float: center;
    padding: 15px;
    margin: 20px;
    border-radius: 10px;
}

/*
.first1 {
    background-color: whitesmoke;
    text-align: right;
    width: 50%;
    padding: 15px;
    margin: 20px;
    border-radius: 10px;
}
*/
.first2 {
    background-color: whitesmoke;
    position: absolute;
    top: 20%;
    left: 50%;
    width: 20%;
    padding: 5px;
    margin: 15px;
    border-radius: 10px;
}

.photo {
    width: 20%;
    border-radius: 20px;

}

.contact {
    width: 10%;
}

.second {
    background-color: whitesmoke;
    padding: 15px;
    margin: 20px;
    border-radius: 10px;
}

.third {
    background-color: whitesmoke;
    padding: 15px;
    margin: 20px;
    border-radius: 10px;
}

.schoolname {
    font-size: x-large;
}

.forth {
    background-color: whitesmoke;
    padding: 15px;
    margin: 20px;
    border-radius: 10px;
}

.photo1 {
    width: 30%;
    border-radius: 10px;
}

.copyright {
    text-align: center;
}